.dirtyIndicator {
    display: inline-block;
    margin-left: 8px;
    color: var(--g-color-text-warning);
}

.dirtyIndicator svg {
    vertical-align: baseline;
}

.title {
    cursor: pointer;
}

.titleAndStatusContainer {
    flex-basis: 100%;
}

.titleContainer {
    flex-grow: 1;
}

.statusSelect {
    position: relative;
    top: 6px;
}

.prioritySelect {
    position: relative;
    top: 6px;
}