.header {
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
}

.avatar {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.form {
  position: relative;
  border-radius: var(--g-border-radius-m);
  background: var(--g-color-base-background);
  padding: 4px;
}

.inputWrapper {
  margin-bottom: 16px;
  border: 1px solid var(--g-color-line-generic);
  border-radius: var(--g-border-radius-m);
}
