.taskList {
  padding: var(--g-spacing-3);
  height: 100%;
}

.taskListHeader {
  padding: var(--g-spacing-3) var(--g-spacing-4);
  border-bottom: 1px solid var(--g-color-line-generic);
  position: sticky;
  top: 0;
  background: var(--g-color-base-background);
  z-index: 1;
}

.taskListContent {
  padding: 0 8px;
}